---
layout: front
home: true
---

<!--
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
-->

<div id="agenda" class="section">
  <h3>Agenda</h3>
  <p>-- Under Construction --</p>
</div>

<hr>

<div id="berita" class="section">
  <h3>Berita</h3>

  {% if site.posts.size > 0 %}

    <ul class="post-list col-md-6">
      {% for post in site.posts limit:5 %}
        <li>
          <span class="post-meta">{{ post.date | date_to_string }}</span>

          <h4>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h4>
        </li>
      {% endfor %}
    </ul>

    {% if paginator.total_posts > 5 %}
      <ul class="post-list col-md-6">
      {% for post in site.posts limit:5 offset:5 %}
        <li>
          <span class="post-meta">{{ post.date | date_to_string }}</span>

          <h4>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h4>
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="clearfix"></div>

    {% if paginator.total_posts > 5 %}
    <a id="btn-list-berita" href="{{ "/berita/" | prepend: site.baseurl }}" class="btn btn-block btn-primary">Lihat Semua Berita</a>
    {% endif %}

  {% else %}
    <div class="alert alert-info"><strong>Maaf!</strong> Belum ada berita yang di publikasikan</div>
  {% endif %}

</div>

<hr>

<div id="kontak" class="section">
  <h3>Kontak</h3>
  <div class="col-md-6">
    <ul class="contact-list">
      <li class="h-card">
        <figure class="contact-photo">
          <img class="u-photo" src="{{ "/images/ghafur.jpg" | prepend: site.baseurl }}" alt="Foto Gafur">
        </figure>
        <div class="contact-detail">
          <span class="p-name">A. Abd. Ghafur A. (Gafur)</span>
          <span class="contact-item">
            <span class="contact-icon"><i class="fa fa-mobile"></i> / <i class="fa fa-whatsapp"></i></span>
            <span class="contact-value p-tel">: +62 81342725025</span>
          </span>
          <span class="contact-item">
            <span class="contact-icon">BBM</span>
            <span class="contact-value">: 553CB8D4</span>
          </span>
          <span class="contact-item">
            <span class="contact-icon">LINE</span>
            <span class="contact-value">: andiabdghafur</span>
          </span>
          <span class="contact-item">
            <span class="contact-icon"><i class="fa fa-twitter"></i></span>
            <span class="contact-value">: <a href="https://twitter.com/BanggGov" target="_blank">@BangGov</a></span>
          </span>
        </div>
      </li>
      <li class="h-card">
        <figure class="contact-photo">
          <img class="u-photo" src="{{ "me@novrian.info" | downcase | to_gravatar }}" alt="Foto Nono">
        </figure>
        <div class="contact-detail">
          <span class="p-name">Novrian Y.F. (Nono)</span>
          <span class="contact-item">
            <span class="contact-icon"><i class="fa fa-mobile"></i> / <i class="fa fa-whatsapp"></i></span>
            <span class="contact-value p-tel">: +62 85255969802</span>
          </span>
          <span class="contact-item">
            <span class="contact-icon">BBM</span>
            <span class="contact-value">: 54D3D673</span>
          </span>
          <span class="contact-item">
            <span class="contact-icon">LINE</span>
            <span class="contact-value">: novrian.nono</span>
          </span>
          <span class="contact-item">
            <span class="contact-icon"><i class="fa fa-twitter"></i></span>
            <span class="contact-value">: <a href="https://twitter.com/nono_gallankz" target="_blank">@nono_gallankz</a></span>
          </span>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="h-card">
      <span class="p-name sr-only">IKA Smansa 2005 Makassar</span>
      <figure id="line-qr">
        <img class="u-photo" src="{{ "/images/line-qr.jpg" | prepend: site.baseurl }}" alt="Line QR Code">
        <figcaption>QR-Code Grup Smansa 2005 @ LINE. Atau klik <a href="{{ site.line_invite_url }}" target="_blank">disini</a></figcaption>
      </figure>
      <span id="twitter-username">
        <i class="fa fa-twitter"></i> <a href="https://twitter.com/Smansa2005" target="_blank">@Smansa2005</a>
      </span>
    </div>
    <p class="site-info">
      Untuk memasukkan berita, undangan, atau informasi lainnya ke website ini.
      Silahkan kirim ke <a href="mailto:info@smansa2005.org">info@smansa2005.org</a>.
      Subjek email tersebut akan dimuat sebagai judul.
    </p>
    <p class="site-info">
      Untuk pertanyaan seputar website (eror, panduan, dll) silahkan mention <a href="https://twitter.com/Smansa2005" target="_blank">@Smansa2005</a> di Twitter.
    </p>
  </div>

  <div class="clearfix"></div>
</div>
