<div id="banner" class="jumbotron">
  <div id="map-container"></div>
  <div class="container">
    <div class="inner-container">
      <h2>Temu Kangen 10 Tahun<br>IKA Smansa 2005 Makassar</h2>
      <p class="jumbo-date">Sabtu, 26 September 2015, 17:00 WITA</p>
      <p class="jumbo-place">@ Tickets Cafe, Hotel Horison</p>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key={{ site.gmap_API_key }}"></script>
<script>
  function initialize() {
    // @-5.1426112,119.406256,16.25z
    // @-5.1420129,119.4019166,15z

    var mapOptions = {
      zoom: 16,
      center: new google.maps.LatLng(-5.1420129, 119.4019166)
    };

    var map = new google.maps.Map(document.getElementById('map-container'), mapOptions);

    // @-5.141671,119.4143191

    var myMarker = new google.maps.LatLng(-5.141671, 119.4143191);
    var marker = new google.maps.Marker({
      position: myMarker,
      title: "Tickets Cafe, Hotel Horison",
      map: map
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
