@charset "UTF-8";

$fa-font-path: "../fonts/fontawesome";

// Bootstrap Vars
@import "bootstrap/variables"; // Import variable yang akan di timpa
$font-family-sans-serif: "Arimo", sans-serif;
$font-family-serif: "Lobster Two", cursive;
$container-md: $container-sm;
$container-lg: $container-sm;

@import "compass";
@import "bootstrap";
@import "fontawesome/font-awesome";

body {
  position: relative;
  padding-top: 50px;
}

.navbar-header h1 {
  font-family: "Lobster", cursive;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: $screen-phone) {
  .navbar-brand {
    font-size: 32px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lobster Two", cursive;
}

#banner {
  position: relative;
  @media only screen and (min-width: $screen-tablet) {
    padding: 0;
    height: 500px;
  }
}

#banner #map-container {
  @include opacity(0.6);
  position: absolute;
  width: 100%;
  height: 500px;

  @media only screen and (max-width: $screen-tablet - 1) {
    display: none !important;
  }
}

#banner .container {
  position: relative;

  @media only screen and (min-width: $screen-tablet) {
    top: 100px;
  }
}

#banner .inner-container {
  text-align: center;

  @media only screen and (min-width: $screen-tablet) {
    @include border-radius(10px, 10px);
    @include single-box-shadow(0, 1px, 2px, null, #000);
    background-color: #fff;
    padding: 20px;
    text-align: left;

    h2 {
      margin-bottom: 20px;
      font-size: 44px;
      font-weight: bold;
    }

    p {
      font-size: 31px;
      font-weight: 500;
    }
  }

  @media only screen and (min-width: $screen-tablet) {
    width: 580px;
  }
}

#info ol {
    li {
        font-size: 18px;
    }
}

.post-list .post-meta {
  font-size: 11px;
  color: lighten($text-color, 20%);
}

.post-list h4 {
  margin-top: 0;
}

.post .post-meta {
  font-size: 11px;
  color: lighten($text-color, 20%);
}

.post-content, .post-submission-info {
  @media only screen and (min-width: $screen-tablet) {
    font-size: 18px;
  }
}

.post-submission-info {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid darken($gray-lighter, 10%);
  background-color: $gray-lighter;
  color: lighten($text-color, 20%);
}

.post-pager {
  margin-top: 40px;
}

#btn-list-berita {
  width: 150px;
  margin: 0 auto;
}

ul.contact-list {
  @include reset-box-model;
  list-style: none;

  li {
    @include clearfix;
    margin-top: 20px;
  }
}

.contact-photo {
  @media only screen and (max-width: $screen-phone - 1) {
    margin: 0 auto 20px;
    width: 150px;
  }

  @media only screen and (min-width: $screen-phone) {
    float: left;
    width: 100px;
  }

  img {
    @include border-radius(200px, 200px);
    width: 100%;
  }
}

.contact-detail {
  @media only screen and (min-width: $screen-phone) {
    margin-left: 120px;
  }
}

.contact-detail span.p-name {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.contact-item {
  display: block;

  .contact-icon, .contact-value {
    display: inline-block;
  }

  .contact-icon {
    width: 40px;
    font-weight: bold;

    i[class~="fa"] {
      font-size: 16px;
    }
  }
}

#line-qr {
  margin-bottom: 20px;

  @media only screen and (max-width: $screen-tablet) {
    margin-top: 20px;
    border-top: 1px solid $gray-lighter;
  }

  img {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
  }
}

#twitter-username {
  display: block;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

p.site-info {
  margin-bottom: 20px;
  font-style: italic;
}

#footer {
  margin-top: 40px;
  padding-bottom: 40px;
}

p.footer-text {
  font-size: 11px;
  text-align: center;
}
