---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="post-footer">
    <p class="post-submission-info">Jika anda ingin mengirimkan berita, undangan, atau informasi yang lain. Silahkan kirim redaksi-nya ke <a href="mailto:info@smansa2005.org">info@smansa2005.org</a></p>

    <nav class="post-pager">
      <ul class="pager">
        {% if page.previous != null %}
        <li class="previous"><a href="{{ page.previous.url }}" title=""><span aria-hidden="true">&larr;</span> {{ page.previous.title | truncate: 40, "..." }}</a></li>
        {% endif %}

        {% if page.next != null %}
        <li class="next"><a href="{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title | truncate: 40, "..." }} <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
      </ul>
    </nav>

    <hr>

    <div class="fb-comments" data-href="{{ page.url | prepend: site.url }}" data-numposts="5" data-width="100%"></div>

  </footer>

</div>
